# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/dbt-live/models/staging @belasobral93
/dbt-live/models/marts @belasobral93
